<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" th:href="@{css/style.css}">

    <title>Compras</title>
</head>
<body>
    <header class="hd">
        <div th:replace="~{fragments/fragments.html :: header}"></div>
    </header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/categorias}">Categorias</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/compras}">Compras</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/solicitud}">Solicitud</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Modal Agregar -->
    <div class="modal fade" id="agregarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel" th:text="${agregarModal}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                     <!-- Formulario para agregar una compra -->
                    <form th:action="@{/compras/add}" method="POST" th:object="${compraAdd}">
                        <div class="mb-3">
                            <label for="addproducto" class="form-label">Producto</label>
                            <div class="input-group">
                                <input type="text" class="form-control" list="productosList" id="addProducto" placeholder="Elige el producto de la compra" required>
                                <input type="text" class="form-control" id="addProductoId" th:field="*{producto}" placeholder="id de la compra" hidden readonly>
                                <datalist id="productosList">
                                    <option th:each="producto : ${productos}" th:value="${producto.name}" th:data-id="${producto.id}" onclick="selectProduct(this, 'agregar')">
                                </datalist>
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="btnMostrarProductos" data-bs-toggle="dropdown" aria-expanded="false">    
                                </button>
                                <ul class="dropdown-menu" >
                                        <li th:each="producto : ${productos}"><a class="dropdown-item" th:text="${producto.name}" th:data-id="${producto.id}" onclick="selectProduct(this, 'agregar')" href="#"></a></li>
                                </ul>
                            </div>
                            <p th:if="${#fields.hasErrors('producto')}" th:errors="*{producto}" th:errorclass="text-danger"></p>
                            
                        </div>

                        <div class="mb-3">
                            <label for="cantidadComprada" class="form-label">Cantidad comprada</label>
                            <input type="number" class="form-control"  id="cantidadComprada" th:field="*{cantidadComprada}" min="0.0" placeholder="Escribe la cantidad de productos que fue comprada" required>
                            <p th:if="${#fields.hasErrors('cantidadComprada')}" th:errors="*{cantidadComprada}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="cantidadActual" class="form-label">Cantidad Actual</label>
                            <input type="number" class="form-control"  id="cantidadActual" th:field="*{cantidadActual}" min="0" placeholder="Escribe la cantidad restante de los productos" required>
                            <p th:if="${#fields.hasErrors('cantidadActual')}" th:errors="*{cantidadActual}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="CostoCompra" class="form-label">Costo total de compra</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control"  id="costoCompra" th:field="*{costoCompra}" min="0" placeholder="Escribe el precio total de la compra" required>
                            </div>
                            <p th:if="${#fields.hasErrors('costoCompra')}" th:errors="*{costoCompra}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="fechaCompra" class="form-label">Fecha de compra</label>
                            <input type="date" class="form-control"  id="fechaCompra" th:field="*{fechaCompra}" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
                            <p th:if="${#fields.hasErrors('fechaCompra')}" th:errors="*{fechaCompra}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="comentario" class="form-label">Comentarios</label>
                            <textarea class="form-control" name="comentario" id="comentario" th:field="${comentarioAdd.comentario}" maxlength="250" placeholder="Escribe información de la compra"></textarea>
                        </div>
                        
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" onclick="agregar(this, event, 'productos')" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="editarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel" th:text="${editarModal}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <!-- Formulario para editar una compra -->
                    <form th:action="@{/compras/edit}" method="POST" th:object="${compraAdd}" id="editForm">
                        <div class="mb-3">
                            <label for="addproducto" class="form-label">Producto</label>
                            <div class="input-group">
                                <input type="text" class="form-control" list="productosList" id="addProductoEdit" placeholder="Elige el producto de la compra" required>
                                <input type="text" class="form-control" id="addProductoIdEdit" th:field="*{producto}" placeholder="id de la compra" hidden readonly>
                                <datalist id="productosList">
                                    <option th:each="producto : ${productos}" th:value="${producto.name}" th:data-id="${producto.id}" onclick="selectProduct(this, 'editar')">
                                </datalist>
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="btnMostrarProductos" data-bs-toggle="dropdown" aria-expanded="false">    
                                </button>
                                <ul class="dropdown-menu" >
                                        <li th:each="producto : ${productos}"><a class="dropdown-item" th:text="${producto.name}" th:data-id="${producto.id}" onclick="selectProduct(this, 'editar')" href="#"></a></li>
                                </ul>
                            </div>
                            <p th:if="${#fields.hasErrors('producto')}" th:errors="*{producto}" th:errorclass="text-danger"></p>
                            
                        </div>

                        <div class="mb-3">
                            <label for="cantidadComprada" class="form-label">Cantidad comprada</label>
                            <input type="number" class="form-control"  id="cantidadCompradaEdit" th:field="*{cantidadComprada}" min="0.0" placeholder="Escribe la cantidad de productos que fue comprada" required>
                            <p th:if="${#fields.hasErrors('cantidadComprada')}" th:errors="*{cantidadComprada}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="cantidadActual" class="form-label">Cantidad Actual</label>
                            <input type="number" class="form-control"  id="cantidadActualEdit" th:field="*{cantidadActual}" min="0" placeholder="Escribe la cantidad restante de los productos" required>
                            <p th:if="${#fields.hasErrors('cantidadActual')}" th:errors="*{cantidadActual}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="CostoCompra" class="form-label">Costo total de compra</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control"  id="costoCompraEdit" th:field="*{costoCompra}" min="0" placeholder="Escribe el precio total de la compra" required>
                            </div>
                            <p th:if="${#fields.hasErrors('costoCompra')}" th:errors="*{costoCompra}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="fechaCompra" class="form-label">Fecha de compra</label>
                            <input type="date" class="form-control"  id="fechaCompraEdit" th:field="*{fechaCompra}" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
                            <p th:if="${#fields.hasErrors('fechaCompra')}" th:errors="*{fechaCompra}" th:errorclass="text-danger"></p>
                        </div>

                        <div class="mb-3">
                            <label for="comentario" class="form-label">Comentarios</label>
                            <textarea class="form-control" name="comentario" id="comentario" th:field="${comentarioAdd.comentario}" maxlength="250" placeholder="Escribe porque se requiere actualizar la información" required></textarea>
                        </div>

                        <button type="button" class="btn btn-secondary" id="comentariosCompra" data-bs-toggle="modal" data-bs-target="#detalleModal">
                            Ver comentarios anteriores
                        </button>
                        
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para ver los comentarios anteriores -->
    <div class="modal fade" id="detalleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Comentarios anteriores</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="comentarios-list">>
                        
                    </ul>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <!-- Botón del modal agregar -->
        <button type="button" th:text="${agregarModal}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarModal"></button>

        <!-- tabla de categorias -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad Comprada</th>
                        <th scope="col">Cantidad Actual</th>
                        <th scope="col">Precio restante</th>
                        <th scope="col">Fecha en que se realizó la compra</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="compra, compraStat : ${compras}" th:if="${compra.disponibility} == true">

                        <td scope="row" th:text="${compraStat.count}"></td>
                        <td th:text="${compra.producto.name}"></td>
                        <td th:text="${compra.cantidadComprada}"></td>
                        <td th:text="${compra.cantidadActual}"></td>
                        <td th:text="${(compra.cantidadActual * compra.costoCompra) / compra.cantidadComprada}"></td>
                        <td th:text="${#temporals.format(compra.fechaCompra, 'dd/MM/yyyy')}"></td>
                        
                        <!-- Acciones -->
                        <td> 
                            <button type="button" onclick="editar(this, 'compras')" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editarModal" th:data-id="${compra.id}">
                                Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script th:src="@{js/script.js}"></script>
</body>
</html>